
@model IEnumerable<QuanlyBug.Models.ProjectList>


@using QuanlyBug.Models
@{
    USERS kh = (USERS)Session["TaiKhoan"];

}

<style>
</style>

@if (kh.Status == "admin" || kh.Status == "Product Manager")
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle show" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="true">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" /><path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M17 10h2a2 2 0 0 1 2 2v1" /><path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M3 13v-1a2 2 0 0 1 2 -2h2" /></svg>
            </span>
            <span class="nav-link-title">
                Nhóm
            </span>
        </a>
        <div class="dropdown-menu" data-bs-popper="static">
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-addmember" href="#">
                Thêm thành viên
            </a>
            @if (kh.Status == "admin")
            {
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-authorization " href="#">
                    Phân quyền
                </a>
            }
        </div>
    </li>
}
@*else
    {
        <li class="nav-item ">
            <a class="nav-link " data-bs-toggle="modal" data-bs-target="#modal-addmember" href="#">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" /><path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M17 10h2a2 2 0 0 1 2 2v1" /><path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M3 13v-1a2 2 0 0 1 2 -2h2" /></svg>
                </span>
                <span class="nav-link-title">
                    Nhóm
                </span>
            </a>
        </li>
    }*@



@using (Html.BeginForm("/", "Home", FormMethod.Post, new { @class = "addmember", @novalidate = "novalidate" }))
{
    <div class="modal modal-blur fade" id="modal-addmember" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm thành viên vào dự án của bạn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3 align-items-end">
                        <div class="col">
                            <label class="form-label">Tên hoặc Email</label>
                            <input type="text" class="form-control" name="nameOrEmail" id="nameOrEmail"  required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Chọn dự án</label>
                        <select class="form-select" name="nameProject" id="nameProject">
                            @foreach (var item in Model)
                            {
                                <option value="@item.Name">@item.Name</option>

                            }
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </div>
            </div>
        </div>
    </div>

}



@using (Html.BeginForm("/", "Home", FormMethod.Post, new { @class = "author", @novalidate = "novalidate" }))
{
    <div class="modal modal-blur fade" id="modal-authorization" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Phân quyền</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-3 align-items-end">
                        <div class="col">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" required>

                            <div class="invalid-feedback">
                                <span class="validation-message-email"></span>
                            </div>

                        </div>
                    </div>
                    <div>
                        <label class="form-label">Vị trí</label>
                        <select class="form-select" id="role">
                            <option value="Product Manager">Product Manager</option>
                            <option value="Tester">Tester</option>
                            <option value="Dev">Developer</option>
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </div>
            </div>
        </div>
    </div>

}



