@{
    ViewBag.Title = "Home Page";
}




<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Phần mềm quản lý Bug(Ci/CD)</h2>
                                    <p style="padding-right:50px;">
                                        Khám phá các tính năng của BUGM giúp nhóm của bạn thành công
                                        với quy trình làm việc và tự động hóa, lộ trình vượt trội và tích hợp với hàng ngàn công cụ khác.
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    @*<div class="white-button first-button scroll-to-section">
                                        <a href="~/Home/Index">Tạo dự án <i class="fab fa-address-card"></i></a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="~/Assets/images/slider-dec.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4>Khám phá các tính năng giúp BUGM trở nên dễ sử dụng</h4>
                    <img src="~/Assets/images/heading-line-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="service-item first-service">
                    <div class="icon"></div>
                    <h4>Các bảng linh hoạt</h4>
                    <p>Các bảng Agile như bảng Scrum và bảng Kanban là những công cụ mạnh mẽ hỗ trợ quản lý và trực quan hóa công việc trong các nhóm Agile.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item second-service">
                    <div class="icon"></div>
                    <h4>Theo dõi tiến độ và quản lý </h4>
                    <p>Lộ trình cung cấp một cái nhìn tổng quan về chiến lược và giúp các nhóm đi đúng hướng, đưa ra các quyết định sáng suốt trong dự án. </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item third-service">
                    <div class="icon"></div>
                    <h4>Báo cáo </h4>
                    <p>Cung cấp thông tin chi tiết quan trọng trong bối cảnh công việc của bạn để đảm bảo nhóm của bạn luôn được cập nhật và thiết lập .</p>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item fourth-service">
                    <div class="icon"></div>
                    <h4>Tự động hóa</h4>
                    <p>Tập trung vào những điều quan trọng. Hãy để tự động hóa làm phần còn lại. Mạnh mẽ nhưng đơn giản.Tự động hóa thực sự thú vị khi sử dụng</p>
                    @*<div class="text-button">
                            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h4>Giới thiệu về BUGM</h4>
                    <img src="~/Assets/images/heading-line-dec.png" alt="">
                    <p>Phần mềm quản lý lỗi (BUGM) là một công cụ quan trọng trong quá trình phát triển phần mềm để ghi nhận, theo dõi và giải quyết các lỗi trong phần mềm.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4>Ghi nhận lỗi</h4>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4>Theo dõi tiến trình</h4>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4>Quản lý tương tác</h4>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4>Phân loại và ưu tiên</h4>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>Phần mềm quản lý lỗi đóng vai trò quan trọng trong việc tăng cường quy trình kiểm tra và bảo trì phần mềm. Nó giúp đảm bảo các lỗi trong phần mềm được ghi nhận và xử lý một cách có hệ thống</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image">
                    <img src="~/Assets/images/about-right-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>




