
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBugs.cshtml";
}

<script src="~/Assets/dist/js/demo-theme.min.js?1684106062"></script>
<div class="page">

    <!-- Body -->
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->

                        <h2 class="page-title">
                            Bảng điều khiển
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-createBug">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                Tạo lỗi mới
                            </a>
                            <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-createBug" aria-label="Create new report">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div style="font-size:20px;" class="subheader">Xác minh</div>
                                    <div class="ms-auto lh-1"></div>




                                    </div>
                                </div>
                            
                                <div class="col-12">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table card-table table-vcenter text-nowrap datatable">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.Status == "xác minh")
                                                    {

                                                        <table class="table card-table table-vcenter text-nowrap datatable">
                                                            <thead>
                                                                <tr >
                                                                    <th style="font-weight:bold;">Tên Bug</th>
                                                                    <th style="font-weight:bold;">Mô tả Bug</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                            <td>

                                                                @item.Title

                                                            </td>
                                                            <td>

                                                                @item.Description
                                                            </td>
                                                            <td>
                                                                
                                                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.0 by- https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M52.5 440.6c-9.5 7.9-22.8 9.7-34.1 4.4S0 428.4 0 416V96C0 83.6 7.2 72.3 18.4 67s24.5-3.6 34.1 4.4l192 160L256 241V96c0-17.7 14.3-32 32-32s32 14.3 32 32V416c0 17.7-14.3 32-32 32s-32-14.3-32-32V271l-11.5 9.6-192 160z" /></svg>
                                                            </td>
                                                            </tbody>
                                                        </table>
                                                    }
                                                }

                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="subheader">Đang giải quyết</div>
                                            <div class="ms-auto lh-1">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="subheader">Xác thực</div>
                                            <div class="ms-auto lh-1">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="subheader">Đã xong</div>
                                            <div class="ms-auto lh-1">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>




                            @using (Html.BeginForm("Create", "BUGs", new { id = ViewBag.Id }, FormMethod.Post))
                            {
                                <div class="modal modal-blur fade" id="modal-createBug" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Tạo bug mới</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="mb-3">
                                                            <label class="form-label">Tên bug</label>
                                                            <div class="input-group input-group-flat">
                                                                <input type="text" class="form-control" name="NameBug" placeholder="Tên lỗi">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label">Độ ưu tiên</label>
                                                            <select name="Priority" class="form-select">
                                                                <option value="1" selected>Bình thường</option>
                                                                <option value="2">Cao</option>
                                                                <option value="3">Thấp</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div>
                                                            <label class="form-label">Mô tả</label>
                                                            <textarea name="description" class="form-control" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                         
                                            <div class="modal-footer">
                                                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                                                    Hủy
                                                </a>
                                                <button type="submit" class="btn btn-primary ms-auto">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                                    Tạo bug mới
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

