
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main-banner" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <section class="vh-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-black">


                        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                            <form action="/User/ResetPassword" method="post" class="needs-validation" style="width: 23rem;" novalidate>

                                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;text-align:center">Tạo mới mật khẩu</h3>

                                <div class="form-outline mb-4">
                                    <label for="validationCustom01" class="form-label">Mật khẩu mới</label>
                                    <input name="NewPassword" type="password" class="form-control" id="NewPassword" required>
                                    <div class="invalid-feedback">
                                        Bạn chưa nhập mật khẩu
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <label for="validationCustom01" class="form-label">Nhập lại mật khẩu</label>
                                    <input type="password" class="form-control" id="rePassword" required>
                                    <div class="invalid-feedback" id="passwordCheckResult">
                                        Bạn chưa nhập lại mật khẩu
                                    </div>
                                </div>

                                <div class="pt-1 mb-4">
                                    <button class="btn d-grid gap-2 col-6 mx-auto" type="submit">Gửi</button>
                                </div>



                            </form>

                        </div>

                    </div>
                    <div class="col-sm-6 px-0 d-none d-sm-block">
                        <img src="~/Assets/images/about-right-dec.png"
                             alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>





<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')
        const passwordInput = document.getElementById("NewPassword");
        const rePasswordInput = document.getElementById("rePassword");
        const resultDisplay = document.getElementById("passwordCheckResult");
        function checkPasswordsMatch() {
            if (passwordInput.value !== rePasswordInput.value) {
                rePasswordInput.setCustomValidity("Mật khẩu nhập lại không trùng khớp");
                resultDisplay.textContent = "Mật khẩu nhập lại không trùng khớp";
            }
            else {
                rePasswordInput.setCustomValidity("");
                resultDisplay.textContent = "Bạn chưa nhập lại mật khẩu";
            }
        }

        passwordInput.addEventListener("input", () => {
            if (passwordInput.value == "") {
                rePasswordInput.setCustomValidity("");
                resultDisplay.textContent = "Bạn chưa nhập lại mật khẩu";
            }
        });
        rePasswordInput.addEventListener("input", checkPasswordsMatch);
        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

</script>
