#tooltip {
    position: relative;
    cursor: pointer;
    border-bottom: 2px dotted;
}

#tooltiptext {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

    #tooltiptext::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: 15px solid;
        border-color: #000 #0000 #0000 #0000;
    }


#tooltip:hover #tooltiptext {
    top: -130%;
    visibility: visible;
    opacity: 1;
}
